body {
/*     font-family: Arial, sans-serif; */
    font-family: 'Bad Script', cursive;
    text-align: center;
    background: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#countdown #timer div {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    font-size: 18px;
}

#countdown #timer div span {
    display: block;
}

#rsvp form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

button {
    background-color: #5a67d8;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4c51bf;
}

h1, h2 {
    font-family: 'Bad Script', cursive;
}
